@import '_common.less';

.participation-pic {
  height: 250px;
  margin: 10px;

  &-container {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

.register {
  padding: 30px 0px;
}

.registration-title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.registration-blurb {
  color: white;

}
