@import '_common.less';

.team {
  &-title {
    color: white;
    margin-top: 15px;
  }
}

.person {
  &-container {

  }
  &-name {
    color: white;
    font-size: 16pt;
    margin-top: 5px;
    text-align: center;
  }
  &-pic {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
